*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.flex-wrap::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.flex-wrap::-webkit-scrollbar-thumb {
  background: #888; 
}
.flex-wrap::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;